@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css");
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css";

:root {
  font-family: "Pretendard JP Variable", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.radix-themes {
  --default-font-family: "Pretendard JP Variable";
}

a {
  text-decoration: none;
  color: var(--gray-12);
}

ul,
ol,
li {
  list-style: none;
}

:root,
.light,
.light-theme {
  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #ffe9ea;
  --red-4: #ffdadd;
  --red-5: #ffcccf;
  --red-6: #ffbcc0;
  --red-7: #f8a8ae;
  --red-8: #f08c96;
  --red-9: #f2235a;
  --red-10: #e3004e;
  --red-11: #d70045;
  --red-12: #6c0622;

  --red-a1: #ff000003;
  --red-a2: #ff000008;
  --red-a3: #ff000c16;
  --red-a4: #ff001525;
  --red-a5: #ff000f33;
  --red-a6: #ff001043;
  --red-a7: #eb001257;
  --red-a8: #de001773;
  --red-a9: #f00040dc;
  --red-a10: #e3004e;
  --red-a11: #d70045;
  --red-a12: #68001df9;

  --red-contrast: #fff;
  --red-surface: #fff5f5cc;
  --red-indicator: #f2235a;
  --red-track: #f2235a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --red-1: oklch(99.4% 0.0039 14.17);
      --red-2: oklch(98.3% 0.01 14.17);
      --red-3: oklch(95.4% 0.0266 14.17);
      --red-4: oklch(92.8% 0.0506 14.17);
      --red-5: oklch(89.6% 0.0656 14.17);
      --red-6: oklch(85.8% 0.079 14.17);
      --red-7: oklch(81% 0.0954 14.17);
      --red-8: oklch(74.9% 0.1213 14.17);
      --red-9: oklch(62.2% 0.2334 14.17);
      --red-10: oklch(58.1% 0.2348 14.17);
      --red-11: oklch(54.9% 0.2334 14.17);
      --red-12: oklch(34.1% 0.1313 14.17);

      --red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
      --red-a2: color(display-p3 0.8784 0.0196 0.0196 / 0.032);
      --red-a3: color(display-p3 0.8118 0.0078 0.0078 / 0.083);
      --red-a4: color(display-p3 0.8353 0.0078 0.0627 / 0.142);
      --red-a5: color(display-p3 0.8392 0.0078 0.0471 / 0.193);
      --red-a6: color(display-p3 0.8471 0.0039 0.0314 / 0.251);
      --red-a7: color(display-p3 0.7765 0.0039 0.051 / 0.33);
      --red-a8: color(display-p3 0.7373 0.0039 0.0588 / 0.432);
      --red-a9: color(display-p3 0.8314 0 0.1686 / 0.765);
      --red-a10: color(display-p3 0.7765 0 0.1765 / 0.828);
      --red-a11: color(display-p3 0.7294 0 0.149 / 0.84);
      --red-a12: color(display-p3 0.3373 0 0.0706 / 0.926);

      --red-contrast: #fff;
      --red-surface: color(display-p3 1 0.9608 0.9608 / 0.8);
      --red-indicator: oklch(62.2% 0.2334 14.17);
      --red-track: oklch(62.2% 0.2334 14.17);
    }
  }
}

.dark,
.dark-theme {
  --red-1: #180e0f;
  --red-2: #1f1415;
  --red-3: #3e1017;
  --red-4: #54081b;
  --red-5: #650d22;
  --red-6: #771b2e;
  --red-7: #92293c;
  --red-8: #bf3550;
  --red-9: #f2235a;
  --red-10: #e3004e;
  --red-11: #ff8e9c;
  --red-12: #ffcfd3;

  --red-a1: #f1000008;
  --red-a2: #ff44550f;
  --red-a3: #fc0c3131;
  --red-a4: #ff003548;
  --red-a5: #ff06425a;
  --red-a6: #fd28546e;
  --red-a7: #fe3d608b;
  --red-a8: #fe4266bb;
  --red-a9: #fe245ef2;
  --red-a10: #ff0056e1;
  --red-a11: #ff8e9c;
  --red-a12: #ffcfd3;

  --red-contrast: #fff;
  --red-surface: #2d171980;
  --red-indicator: #f2235a;
  --red-track: #f2235a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --red-1: oklch(17.8% 0.0164 14.17);
      --red-2: oklch(20.6% 0.019 14.17);
      --red-3: oklch(25.3% 0.0721 14.17);
      --red-4: oklch(29.2% 0.1063 14.17);
      --red-5: oklch(33.2% 0.1194 14.17);
      --red-6: oklch(38.2% 0.1257 14.17);
      --red-7: oklch(44.8% 0.1395 14.17);
      --red-8: oklch(54.4% 0.174 14.17);
      --red-9: oklch(62.2% 0.2334 14.17);
      --red-10: oklch(58.1% 0.2334 14.17);
      --red-11: oklch(78.6% 0.1929 14.17);
      --red-12: oklch(90.5% 0.063 14.17);

      --red-a1: color(display-p3 0.9608 0 0 / 0.022);
      --red-a2: color(display-p3 0.9922 0.298 0.3765 / 0.051);
      --red-a3: color(display-p3 0.9961 0.1137 0.2314 / 0.169);
      --red-a4: color(display-p3 0.9961 0.0549 0.2392 / 0.253);
      --red-a5: color(display-p3 0.9961 0.1294 0.2902 / 0.316);
      --red-a6: color(display-p3 1 0.251 0.3725 / 0.387);
      --red-a7: color(display-p3 1 0.3176 0.4196 / 0.496);
      --red-a8: color(display-p3 0.9961 0.3412 0.4471 / 0.669);
      --red-a9: color(display-p3 1 0.2627 0.4157 / 0.862);
      --red-a10: color(display-p3 1 0.2 0.3804 / 0.803);
      --red-a11: color(display-p3 1 0.6157 0.6549 / 0.937);
      --red-a12: color(display-p3 0.9961 0.8431 0.8549 / 0.967);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.1647 0.0863 0.0941 / 0.5);
      --red-indicator: oklch(62.2% 0.2334 14.17);
      --red-track: oklch(62.2% 0.2334 14.17);
    }
  }
}
